## Period and PeriodIndex

## Yearly Period

In [1]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [2]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [3]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [4]:
y.is_leap_year

True

## Monthly Period

In [5]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [6]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [7]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [8]:
m+1

Period('2018-01', 'M')

## Daily Period

In [9]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [10]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [11]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [12]:
d+1

Period('2016-02-29', 'D')

## Hourly Period

In [18]:
h = pd.Period('2019-07-15 23:00:00',freq='H')
h

Period('2019-07-15 23:00', 'H')

In [19]:
h+1

Period('2019-07-16 00:00', 'H')

#### Achieve same results using pandas offsets hour

In [21]:
h+pd.offsets.Hour(3)

Period('2019-07-16 02:00', 'H')

## Quarterly Period

In [39]:
# Normal fiscal year for a company
q1= pd.Period('2018Q1', freq='Q-JAN')
q1

Period('2018Q1', 'Q-JAN')

In [41]:
q1.start_time

Timestamp('2017-02-01 00:00:00')

In [42]:
q1.end_time

Timestamp('2017-04-30 23:59:59.999999999')

<h4>Use asfreq to convert period to a different frequency</h4>

In [43]:
q1.asfreq('M',how='start')

Period('2017-02', 'M')

In [44]:
q1.asfreq('M',how='end')

Period('2017-04', 'M')

## Weekly Period

In [45]:
w = pd.Period('2019-07-05',freq='W')
w

Period('2019-07-01/2019-07-07', 'W-SUN')

In [46]:
w-1

Period('2019-06-24/2019-06-30', 'W-SUN')

In [47]:
w2 = pd.Period('2019-08-15',freq='W')
w2

Period('2019-08-12/2019-08-18', 'W-SUN')

In [48]:
w2-w

## PeriodIndex and period_range

In [49]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [50]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [51]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

#### **Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [52]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [53]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [54]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [56]:
r = pd.period_range(start='2016-01', freq='3M', periods=10)
r

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10', '2017-01', '2017-04',
             '2017-07', '2017-10', '2018-01', '2018-04'],
            dtype='period[3M]', freq='3M')

## Processing Wal Mart's Financials

In [60]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [61]:
df.set_index("Line Item",inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [62]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [64]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [65]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

<h4 style="color:green">Add start date end date columns to dataframe</h4>

In [66]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [67]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999